@import '../Shared/_variables.scss';


.left-nav-re {
  padding: 32px 0px 8px 0px;
  background-color: $grey_05;
  font-size: 14px;
  font-family: $inter;

  & ul {
    margin-left: 0;
    & ul {
      margin-left: 32px;
      margin-top: 8px;
      & ul {
        margin-left: 32px;
        margin-top: 12px;
      }
    }
  }

  //  parent ------------------------------
  .parent {
    font-weight: 400;
    list-style-type: none;
    margin-bottom: 4px;
  }

  .currentUrl {
    background-color: inherit;
    color: inherit;

    button:hover{
        color: $grey_60;
      }
  }
  .currentUrl button:hover {
    color: $grey_90 !important;
    background-color: $grey_05;
  }

  button {
    background: none;
    color: inherit;
    display: block;
    border: none;
    padding: 0;
    width: 100%;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: left !important; 
    }
    @media screen and (min-width: 768px) {
      text-align: left !important; 
    }
    &:hover{
      color: $grey_60;
    }
  }
  // sub Parent ----------------------
  .sub-parent {
    // margin-left: 32px;
    margin-top: 8px;
  }

  // Caret ---------------------------
  .caret-wrapper {
    width: 24px;
    &:hover {
      cursor: default;
    }
  }
  .caret {
    transition: transform .2s ease;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
    &.active-caret {
      transition: transform .2s ease;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  .caret-sibling {
    padding-left: 0;
  }

  // Child ---------------
  .child {
    margin-left: 16px;
    margin-right:16px;
    margin-bottom: 0px;
    list-style-type: none;
    color: $grey_50;

    &.currentUrl{
      font-weight: 600;

      > * {
        vertical-align: middle;
      }
      a:link, a:visited {
        background-color: rgb(242, 242, 242);
        color: $grey_90;
        border-radius: $borderRadiusSmall;
      }
    }
    
    a:link, a:visited {
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 9px;
      &:hover {
        color: $grey_90;
        background-color: rgb(242, 242, 242);
        border-radius: $borderRadiusSmall;
      }
    }
  }
}
