@import '../components/Shared/variables';

.doc-page {
  padding-left: 40px !important;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;

  @media (min-width:992px) and (max-width: 1199px) {
    padding-right: 32px;
  }

  @media (min-width:992px) {
    padding-top: 64px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  // WIP - need to get ul li markers to move away from text
  ///////////////////////////////////////////////////////////////////
  ul {
    margin-left: 16px;
    margin-bottom: 24px;

    li::marker {
      padding-inline-start: 39px;
      color: $orange_30 !important;
    }

    &::after,
      &::before {
      display: inline-block;
      direction: rtl !important;
      margin-left: -28px !important;
      padding-right: 16px !important;
      width: 28px !important;
      } 
    
    li {
      margin-bottom: 8px;
      line-height: 1.625;
      padding: 0 0 0 16px;

      li::before {
        direction: rtl !important;
        margin-left: -28px !important;
        padding-right: 16px !important;
        width: 28px !important;
      }
    }
    li::before {
      // content: "\2726";
      // color: $orange_30 !important;
      direction: rtl !important;
      margin-left: -28px !important;
      padding-right: 16px !important;
      width: 28px !important;
    }

    list-style-type: '\2726';

    li::marker {
      color: $orange_30 !important;
    }
  }

  ol {
    li {
      padding-left: 10px !important;
      margin-bottom: 8px;
    }
    li::marker {
      color: $grey_70;
    }
  }
/////////////////////////////////////////////////////////////////////////
  a {
    height: 24px;
    color: $blue_60;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $blue_60;
      & img {
        border: none !important;
        display: block;
      }

    }

    &.anchor.before {
      top: .2em;
      padding-right: 8px;
      
      & svg {
        width: auto;
        height: .9em;
        display: block;
      }
    }

    &.anchor:hover {
        border: none !important;
        display: block;
    }  

    &.alternative {
      color: #fff;
    }

    &.alternative:hover {
      color: #fff;
      background-position: top 22px right -4px;
      padding-right: 4px;
      padding-bottom: 2px;
      text-decoration: none;
    }
  }

  @media (max-width: 765px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

// make left nav full width in mobile view
.left-nav-re {
  // z-index: -1;
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  @media screen and (min-width: 768px) {
    max-width: 350px;
  }

  & li {
    &:hover {
      cursor: pointer;
    }
  }
}

/* Blockquotes */
blockquote {
  box-sizing: border-box;
  width: 100%;
  border: solid $grey_20 1px;
  border-radius: 8px;
  padding: 16px 24px;
  background-color: $grey_05;
}

.edit-button {
  padding-top: 40px;

  @media (min-width:992px) {
    padding-top: 0;
  }
  svg {
    overflow: hidden;
    vertical-align: middle;
    margin-bottom: 4px;
  }
}

.edit-button-styles {
  border: 1px solid $grey_40 !important;
  border-radius: 4px !important;
  padding: 8px 16px !important;
  &:hover {
    border: 1px solid $grey_70 !important;
    background-color: transparent !important;
  }
}

.right-column {
  margin-top: 0px;
  padding-left: 40px !important;

  @media (min-width:992px) {
    margin-top: 136px;
    padding-right: 24px;
    padding-left: 0px !important;
  }
}

.sticky {
  margin-top: 64px;
  position: -webkit-sticky;
  position: sticky !important;
  top: 160px;
}

.posmanaut-dab {
  max-width: 250px;
}

tr:hover {
  background-color: #FAE1D4;
}

th:first-child,
td:first-child {
 padding-left:10px;
}

thead:first-child:hover tr{
  background-color: white;
}


/**
* add syntax highlighting
*/
:not(pre) > code[class*="language-"] {
  font-family: $ibm;
  background-color: #f9f9f9 !important;
  color: $grey_90;
  padding: 1px 4px 2px !important;
  font-size: 15px !important;
  box-shadow: inset 0 0 0 1px $grey_30;
  border-radius: 3px !important;
}

code[class*="language-"] {
  // word-wrap: unset !important;
  word-break: break-word !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-word;
  // max-width: 600px;

  code[class*="language-"],
  .token.comment, 
  .token.string,
  .token.number,
  .token.boolean,
  .token.class-name,
  .token.constant,
  .token.parameter,
  .token.keyword,
  .token.operator,
  .token.function,
  .token.property,
  .token.attr-name,
  .token.attr-value,
  .token.tag,
  .token.punctuation {
    font-family: $ibm;
    white-space: pre-wrap;
    word-break: break-word;
    line-height: 1.666rem;
  }

  /**
  * Remove the default PrismJS theme background-color, border-radius, margin,
  * padding and overflow.
  * 1. Make the element just wide enough to fit its content.
  * 2. Always fill the visible space in .gatsby-highlight.
  * 3. Adjust the position of the line numbers
  */
  pre[class*="language-"] {
    font-family: $ibm;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: initial;
    float: left;
    min-width: calc(100% - 3em);
    white-space: pre-wrap;
    word-break: break-word;

    // &.line-numbers {
    //   padding-left: 3em;
    //   padding-right: 1em;

    //   .line-numbers-rows {
    //     right: calc(100% - 25px);
    //     left: unset !important;
    //   }

    //   .gatsby-highlight-code-line {
    //     background-color: #455A64;
    //     display: block;
    //     margin-right: -1em;
    //     margin-left: -1em;
    //     padding-right: 1em;
    //     padding-left: 0.75em;
    //   }
    // }
  }
}