@import '../components/Shared/variables';

.doc-page {
  padding-left: 49px !important;
  padding-top: 32px;
  padding-bottom: 40px;
  pre {
    background-color: rgba(109, 127, 145, 0.2);
    border-radius: 2px;
    padding: 16px;
    white-space: pre-wrap; 
    code {
      background: none;
    }
  }
  code {
    font-size: 87.5%;
    color: #282828;
    word-break: break-word;
    background-color: rgba(109, 127, 145, 0.2);
    border-radius: 2px;
    padding: 4px;
  }
  a {
    color: $postman-orange;
    text-decoration: none;
    &:hover {
      color: $gray-3;
    }
  }

  @media (max-width: 765px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

// make left nav full width in mobile view
.left-nav {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Blockquotes */
blockquote {
  padding: 0 24px;
  color: #6a737d;
  border-left: 5px solid #dfe2e5;
}

.edit-button {
  margin-top: 32px;
  margin-left: 12px;
  @media (min-width:767px) and (max-width: 990px) {
    padding-left: 16px;
  }
}

@media (max-width: 990px) {
  .right-colum {
  padding-bottom: 80px;
  padding-left: 16px;
  }
}

tr:hover {
  background-color: #FAE1D4;
}

th:first-child,
td:first-child {
 padding-left:10px;
}

thead:first-child:hover tr{
  background-color: white;
}
