@import '../components/Shared/variables';

.doc-page {
  padding-left: 49px !important;
  padding-top: 64px;
    code {
      font-size: 87.5%;
      color: #282828;
      word-break: break-word;
      background-color: rgba(109, 127, 145, 0.2);
      border-radius: 2px;
      padding: 4px;
    }
    a {
      color: $postman-orange;
      text-decoration: none;
      &:hover {
        color: $gray-3;
      }
  }

  @media (max-width: 765px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.left-nav {
  padding-left: 0px !important;
}