@import '../components/Shared/variables';

.doc-page {
  padding: 15px;
    a {
      color: $postman-orange;
      text-decoration: none;
      &:hover {
        color: $gray-3;
      }
  }

  @media (max-width: 765px) {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}