<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-12">
        <ul class="footer-links clearfix col-sm-3">
          <li><a href="{{site.pm.root}}/pricing">Pricing</a></li>
          <li><a href="{{site.pm.root}}/products">Product Comparison</a></li>
          <li><a href="{{site.pm.root}}/products">Product Features</a></li>
        </ul>
        <ul class="footer-links clearfix col-sm-3">
          <li><a href="{{site.pm.root}}/apps">Apps</a></li>
          <li><a href="{{site.pm.root}}/security">Security</a></li>
          <li><a href="{{site.pm.root}}/support">Support</a></li>
        </ul>
        <ul class="footer-links clearfix col-sm-3">
          <li><a href="{{site.pm.root}}/community">Community Resources</a></li>
          <li><a href="{{site.pm.blog}}">Blog</a></li>
          <li><a href="{{site.pm.blog}}/case-studies">Case Studies</a></li>
        </ul>
        <ul class="footer-links clearfix col-sm-3">
          <li><a href="{{site.pm.root}}/contact-us">Contact Us</a></li>
          <li><a href="{{site.pm.root}}/about-us">About Postman</a></li>
          <li><a href="{{site.pm.root}}/jobs">Careers</a></li>
        </ul>
      </div>

      <div class="col-lg-3">
        <ul class="footer-social-links">
          <li><a class="pm-social-media pm-rss-icon" href="http://blog.getpostman.com/", target="_blank"></a></li>
          <li><a class="pm-social-media pm-gplus-icon" href="https://plus.google.com/+Getpostman", target="_blank"></a></li>
          <li><a class="pm-social-media pm-linkedin-icon" href="https://github.com/postmanlabs", target="_blank"></a></li>
          <li><a class="pm-social-media pm-twitter-icon" href="https://twitter.com/postmanclient", target="_blank"></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="footer-branding">
          <a class="pm-btn pm-btn-sm pm-btn-primary sign-in-button hide-if-signedin" href="{{site.pm.gs}}/signup?redirect=web">Sign in</a>
          <a class="pm-btn pm-btn-sm pm-btn-primary sign-in-button hide-if-signedout" href="{{site.pm.gs}}/">Dashboard</a>

          <span>&copy; 2016 Postdot Technologies, Inc.</span>
          <span>All Rights Reserved </span>
          <span><a href="/licenses/privacy">Privacy and Terms</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
