<script type="text/javascript" src="/js/ga/ga.js"></script>
<script type="text/javascript" src="/js/ga/tracker.js"></script>
<script type="text/javascript" src="/js/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/libs/underscore-min.js"></script>
<script type="text/javascript" src="/js/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/libs/isInViewport.min.js"></script>

<% if (locals.fullpage) { %>
<script type="text/javascript" src="/js/libs/jquery.fullPage.min.js"></script>
<% } %>

<script type="text/javascript">
  var pm_app_url = "<%= public._data.nonstatic_prefix %>"

  /**
   * Authentication
   */
  $(function () {
    // Check if the user is signed in and add a class
    // to the body if so. This will hide elements with the
    // .hide-if-signedin class and show elements with
    // the .hide-if-signedout class.
    if (document.cookie.indexOf('getpostmanlogin') > -1) {
      $('body').addClass('signedin');
    }
  });

  /**
   * Navigation
   */
  $(function () {
    var thisHash = window.location.hash,
        $tabs = $('.app-list a'),
        tabIDs = $.map($tabs, function (thisTab) { return $(thisTab).attr('href'); }),
        thisTabIndex = tabIDs.indexOf(thisHash);

    if (thisTabIndex !== -1) {
      $tabs.eq(thisTabIndex).tab('show');
    }
  });

  $('body').on('click', '#menu-toggle', function () {
    $('body').toggleClass('nav-open');
  });

  $(document).on('touchstart', function (e) {
    var thisNodeName = e.target.nodeName;

    if (thisNodeName === 'INPUT' || thisNodeName === 'TEXTAREA') {
      return;
    }

    document.activeElement.blur();
    $('input, textarea').blur();
  });

  /**
   * Homepage Slider
   */
  $(function () {
    var $slideContoller = $('.slide-controllers'),
        $slideContents = $('.slide-contents');
    $slideContoller.on('click', 'li', function () {
      var $self = $(this),
          slideIndex = $self.index();

      $self.addClass('active').siblings().removeClass('active');
      $slideContents.css('left', -slideIndex * 100 + '%');
    });
  });

  /**
   * Auto-playing videos
   *
   * Just add a pm-auto-video class to the HTML5 video element
   * and the video will play when visible, and pause when not
   * visible.
   */
  $(function () {
    var $autoVideos = $('video.pm-auto-video'),
      scrollWatch,
      autoVideo = function() {
        $autoVideos.each(function() {
          var $this = $(this);

          if($this.is(':in-viewport')) {
            $this.get(0).play();
          } else {
            $this.get(0).pause();
          }
        });
      };

    $(document).on('scroll', function() {
      clearTimeout(scrollWatch);
      scrollWatch = setTimeout(autoVideo, 500);
    });
  });

  /**
   * Slack page functionality
   */
  $(function () {
    var $form = $('#slack-invite-form'),
      $email = $('#slack-invite-email'),
      $messages = $('#slack-invite-error, #slack-invite-success'),
      $error = $('#slack-invite-error'),
      $success = $('#slack-invite-success'),
      slackAPI = 'https://www.getpostman.com/api/slack/invite',
      errors = {
        already_invited: 'We\'ve already sent you an invite. Make sure you check your spam folder!',
        invalid_email: 'The email you\'ve entered seems to be invalid.'
      };

    $form.on('submit', function (e) {
      var email = $email.val();

      // Remove any visible messages
      $messages.html('');

      // Prevent form submission
      e.preventDefault();

      if(!email) {
        return;
      }

      $success.html('Preparing your invite...');

      $.post(slackAPI, {email: email}, function (res, status) {
        if(res && res.ok) {
          $success.html('Your invite is on the way :)');
        } else {
          $messages.html('');
          $error.html(errors[res.error] || res.error);
        }
      })
        .fail(function () {
          $error.html('Something went wrong and we couldn\'t send your invite :(');
        });
    });
  });

  /**
   * Collection infographic scroll handler
   */
  $(document).ready(function() {
    var tag,
      firstScriptTag;

    $('.collection_infographic').length && $('.pm-page-wrap').fullpage({
      scrollBar: true
    });

    // Load the YT iFrame API if a video embed exists on the page
    if($('.pm-resp-yt-wrap').length) {
      tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    }
  });

  function onYouTubeIframeAPIReady() {
    var aws_player;

    if($('#aws-gateway-postman-video').length) {
      aws_player = new YT.Player('aws-gateway-postman-video', {
        videoId: 'pfoKFaHisbY'
      });
    }

    $('[href="#aws-gateway-postman-video-wrap"]').click(function () {
      aws_player.playVideo();
    });
  }
</script>
