<div class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <ul class="footer-links clearfix">
                    <li><a href="/apps#changelog" class="<%- current.source == 'apps' ? 'active' : '' %>">Features</a></li>
                    <li><a href="/support" class="<%- current.source == 'support' ? 'active' : '' %>">Support</a></li>
                    <li><a href="/security" class="<%- current.source == 'security' ? 'active' : '' %>">Security</a></li>
                    <li><a href="http://blog.getpostman.com" target="_blank">Blog</a></li>
                    <li><a href="/about-us" class="<%- current.source == 'about-us' ? 'active' : '' %>">About Us</a></li>
                    <li><a href="/jobs/" class="<%- current.path[0] == 'jobs' ? 'active' : '' %>">Jobs</a></li>
                    <li><a href="/contact-us" class="<%- current.source == 'contact-us' ? 'active' : '' %>">Contact Us</a></li>
                    <li><a href="/licenses/privacy" class="<%- current.path[0] == 'licenses' ? 'active' : '' %>">Privacy and Terms</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="footer-social-links">
                    <li><a href="https://twitter.com/postmanclient" target="_blank" class="pm-social-media pm-twitter-icon"></a></li>
                    <li><a href="https://www.facebook.com/getpostman" target="_blank" class="pm-social-media pm-fb-icon"></a></li>
                    <li><a href="http://blog.getpostman.com/" target="_blank" class="pm-social-media pm-rss-icon"></a></li>
                    <li><a href="https://plus.google.com/+Getpostman" target="_blank" class="pm-social-media pm-gplus-icon"></a></li>
                    <li><a href="https://github.com/postmanlabs" target="_blank" class="pm-social-media pm-github-icon"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
