<div id="header" class="header-container clearfix">
    <div id="menu-toggle"></div>
    <a href="{{site.pm.root}}" class="logo-container"></a>

    <div class="version-selector">
        <select onchange="location = this.options[this.selectedIndex].value;">
            <option {% if page.version == 'v5' %}selected="selected"{% endif %} value="/docs/v5/">Version 5.0</option>
            <option {% if page.version == 'v6' %}selected="selected"{% endif %} value="/docs/v6/">Version 6.0</option>
        </select>​
    </div>

    <div class="navigation-container">
        <ul>
            <li>
                <div class='pm-btn pm-btn-transparent'>
                    Products
                    <ul class='pm-btn-submenu'>
                        <li>
                            <a href='{{site.pm.root}}/postman'>
                                <div class='submenu__title'>
                                    Postman
                                </div>
                                <div class='submenu__desc'>
                                    A complete API Development Environment
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/pro'>
                                <div class='submenu__title'>
                                    Postman Pro
                                </div>
                                <div class='submenu__desc'>
                                    Extended features for developers &amp; teams
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/enterprise'>
                                <div class='submenu__title'>
                                    Postman Enterprise
                                </div>
                                <div class='submenu__desc'>
                                    Enterprise level features &amp; support
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class='pm-btn pm-btn-transparent'>
                    Solutions
                    <ul class='pm-btn-submenu'>
                        <li>
                            <a href='{{site.pm.root}}/publishers'>
                                <div class='submenu__title'>
                                    Publishers
                                </div>
                                <div class='submenu__desc'>
                                    Onboard developers to your API
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/devops'>
                                <div class='submenu__title'>
                                    DevOps
                                </div>
                                <div class='submenu__desc'>
                                    High Velocity DevOps with Postman
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/qa'>
                                <div class='submenu__title'>
                                    QA
                                </div>
                                <div class='submenu__desc'>
                                    Postman for QA Teams
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/front-end'>
                                <div class='submenu__title'>
                                    Front-end
                                </div>
                                <div class='submenu__desc'>
                                    Postman for Front-end Developers &amp; Teams
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/back-end'>
                                <div class='submenu__title'>
                                    Back-end
                                </div>
                                <div class='submenu__desc'>
                                    Postman for Back-end Developers &amp; Teams
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="{{site.pm.root}}/pricing" class="<%- current.source == 'pricing' ? 'active' : '' %> pm-btn pm-btn-transparent">Pricing</a></li>
            <li><a href="{{site.pm.root}}/docs/" class="<%- current.path[0] == 'docs' ? 'active' : '' %> pm-btn pm-btn-transparent">Docs</a></li>
            <li><a href="{{site.pm.root}}/api-network/" class="<%- current.path[0] == 'api-network' ? 'active' : '' %> pm-btn pm-btn-transparent">API Network</a></li>
            <li>
                <div class='pm-btn pm-btn-transparent'>
                    About
                    <ul class='pm-btn-submenu'>
                        <li>
                            <a href='{{site.pm.root}}/company'>
                                <div class='submenu__title'>
                                    Company
                                </div>
                                <div class='submenu__desc'>
                                    Our Mission + History
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/team'>
                                <div class='submenu__title'>
                                    Who We Are
                                </div>
                                <div class='submenu__desc'>
                                    Meet our team
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/jobs/'>
                                <div class='submenu__title'>
                                    We're Hiring
                                </div>
                                <div class='submenu__desc'>
                                    Join our growing team!
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/press'>
                                <div class='submenu__title'>
                                    What People Say
                                </div>
                                <div class='submenu__desc'>
                                    All of the Postman Press
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href='{{site.pm.root}}/contact'>
                                <div class='submenu__title'>
                                    Contact Us
                                </div>
                                <div class='submenu__desc'>
                                    Get in touch with Postman
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="{{site.pm.gs}}/signup?redirect=web" class="pm-btn pm-btn-primary pm-btn-sm sign-in-button hide-if-signedin">Sign in</a></li>
            <li><a href="{{site.pm.gs}}/" class="pm-btn pm-btn-primary pm-btn-sm sign-in-button hide-if-signedout">Dashboard</a></li>
        </ul>
    </div>
</div>