<div id='header' class='header-container-new hero-header-container-new clearfix header-container'>
  <div id='menu-toggle' style='filter: invert(100%);'></div>
  <div id='menu-toggle-overlay'></div>
  <a href='/' class='logo-container-new'></a>

  {% include _version_selector.html %}

  <div class='navigation-container'>
    <ul>
      <li>
        <a class='pm-btn pm-btn-transparent' href='/products'>PRODUCTS</a>
      </li>
      <li>
        <div class='pm-btn pm-btn-transparent'>
          SOLUTIONS
          <ul class='pm-btn-submenu'>
            <li>
              <a href='/publishers'>
                <div class='submenu__title' style='color:#282828 !important;'>
                  Publishers
                </div>
                <div class='submenu__desc' style='color:#282828 !important;'>
                  Onboard developers to your API
                </div>
              </a>
            </li>
            <li>
              <a href='/devops'>
                <div class='submenu__title' style='color:#282828 !important;'>
                  DevOps
                </div>
                <div class='submenu__desc' style='color:#282828 !important;'>
                  High Velocity DevOps with Postman
                </div>
              </a>
            </li>
            <li>
              <a href='/qa'>
                <div class='submenu__title' style='color:#282828 !important;'>
                  QA
                </div>
                <div class='submenu__desc' style='color:#282828 !important;'>
                  Postman for QA Teams
                </div>
              </a>
            </li>
            <li>
              <a href='/front-end'>
                <div class='submenu__title' style='color:#282828 !important;'>
                  Front-end
                </div>
                <div class='submenu__desc' style='color:#282828 !important;'>
                  Postman for Front-end Developers &amp; Teams
                </div>
              </a>
            </li>
            <li>
              <a href='/back-end'>
                <div class='submenu__title' style='color:#282828 !important;'>
                  Back-end
                </div>
                <div class='submenu__desc' style='color:#282828 !important;'>
                  Postman for Back-end Developers &amp; Teams
                </div>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a class='pm-btn pm-btn-transparent' href='/pricing'>PLANS & PRICING</a>
      </li>
      <li>
        <a class='pm-btn pm-btn-transparent active' style='color:#F26B3A;' href='/docs/'>DOCS</a>
      </li>
      <li>
        <a class='pm-btn pm-btn-transparent' href='/api-network/'>API NETWORK</a>
      </li>
      <li>
        <a href="{{site.pm.gs}}/signup?redirect=web" class='pm-btn pm-btn-sm pm-btn-primary sign-in-button hide-if-signedin'>SIGN IN</a>
      </li>
      <li>
        <a href="{{site.pm.gs}}/" class='pm-btn pm-btn-sm pm-btn-primary sign-in-button hide-if-signedout'>DASHBOARD</a>
      </li>
    </ul>
  </div>
</div>
