<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Postman Docs</title>
  <link rel="shortcut icon" href="{{site.pm.root}}/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{site.pm.root}}/css/bootstrap.min.css?v={{site.time | date: '%s%N'}}"/>
  <link rel="stylesheet" type="text/css" href="{{site.pm.root}}/css/web/styles.css?v={{site.time | date: '%s%N'}}"/>
  <link href='//fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fhbjgbiflinjbdggehcddcbncdddomop">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
