<div id="sidebar-toggleable">
    <ul class="pm-sidebar-main-nav">
    	<li>
    		<div class="version-selector">
		    	<select onchange="location = this.options[this.selectedIndex].value;">
			        <option>Please select</option>
			        <option value="http://www.apple.com/">Apple</option>
			        <option value="http://www.bbc.com">BBC</option>
			        <option value="http://www.facebook.com">Facebook</option>
			    </select>​
			</div>
		</li>
        <li><a href="{{site.pm.root}}/">Home</a></li>
        <li><a href="{{site.pm.root}}/products">Products</a></li>
        <li><a href="{{site.pm.root}}/pricing">Pricing</a></li>
        <li><a href="{{site.pm.root}}/docs/">Documentation</a></li>
        <li><a href="{{site.pm.root}}/api-network/">API Network</a></li>
        <li class="hide-if-signedin"><a href="{{site.pm.gs}}/signup?redirect=web">Sign In</a></li>
        <li class="hide-if-signedout"><a href="{{site.pm.gs}}/">Dashboard</a></li>
    </ul>
</div>

