<!-- Populate the next and previous links based on site.data.doc_map -->

{% assign hrefString = "" %}
{% assign titleString = "" %}
{% assign externalString = "" %}
{% assign products = site.data.doc_map %}

{% for product in products %}
    {% assign prodIndex = forloop.index0 %}
    {% for category in product.children %}
        {% assign categoryIndex = forloop.index0 %}
        {% for feature in category.children %}
            {% if feature.href %}
                {% assign hrefString = hrefString | append: feature.href | append: '$$' %}
                {% assign titleString = titleString | append: feature.title | append: '$$' %}
                {% assign externalString = externalString | append: feature.external | append: '$$' %}
            {% endif %}
        {% endfor %}
        {% if category.href %}
            {% assign hrefString = hrefString | append: category.href | append: '$$' %}
            {% assign titleString = titleString | append: category.title | append: '$$' %}
            {% assign externalString = externalString | append: category.external | append: '$$' %}
        {% endif %}
    {% endfor %}
{% endfor %}

{% assign hrefArray = hrefString | split: '$$' %}
{% assign titleArray = titleString | split: '$$' %}
{% assign externalArray = externalString | split: '$$' %}

<div>
{% for href in hrefArray %}
    {% if href == page.url %}
        {% assign hrefIndex = forloop.index0 %}
        {% assign nextIndex = hrefIndex | plus: 1 %}
        {% assign prevIndex = hrefIndex | minus: 1 %}

        <div class="doc-next-link clearfix">
            {% if hrefArray[prevIndex] %}
            <a href="{{hrefArray[prevIndex]}}" {% if {{externalArray[prevIndex]}} == "true" %}target="_blank"{% endif %} class="col-sm-6 col-xs-12 prev-article">
                {{titleArray[prevIndex]}}
            </a>
            {% endif %}

            {% if hrefArray[nextIndex] %}
            <a href="{{hrefArray[nextIndex]}}" {% if {{externalArray[nextIndex]}} == "true" %}target="_blank"{% endif %} class="col-xs-6 hidden-xs next-article pull-right">
                {{titleArray[nextIndex]}}
            </a>
            {% endif %}
        </div>

        {% if hrefArray[nextIndex] %}
        <div class="doc-next-link clearfix visible-xs">
            <a href="{{hrefArray[nextIndex]}}" {% if externalArray[nextIndex] == true %}target="_blank"{% endif %} class="col-xs-12 next-article pull-right">
                {{titleArray[nextIndex]}}
            </a>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>