<script>

'use strict';
/* global instantsearch */

var search = instantsearch({
    appId: 'SDZ6C0ROMM',
    apiKey: 'e83c353e0b538a05ad8ea1d70c32b0dd',
    indexName: 'blog',
    urlSync: true,
    searchFunction: function(helper) {
        var searchResults = $('.search-results');
        var statsCount = $('#stats');
        if (helper.state.query === '') {
            searchResults.hide();
            statsCount.hide();
            return;
        }
        helper.search();
        searchResults.show();
        statsCount.show();
    }
});

search.addWidget(
    instantsearch.widgets.searchBox({
        container: '#search-box',
        placeholder: 'Search documentation',
//        poweredBy: true,
        cssClasses: {
            input: ["st-default-search-input"/*, "pm-form-control", "pm-white-control"*/]
        }
    })
);

{% raw %}
search.addWidget(
    instantsearch.widgets.stats({
        container: '#stats',
        templates: {
            body: '<div>{{nbHits}} results</div>'
        },
        cssClasses: {
            body: ["text-right", "text-muted"]
        }
    })
);
{% endraw %}

{% raw %}
var hitTemplate =
    '<div class="hit">' +
        '<div class="infos">' +
            '<div class="hit-title"><strong><a href={{site.pm.root}}/docs{{url}}>{{title}}</strong></a></div>' +
            '<div class="hit-excerpt">{{{_highlightResult.html.value}}}</div>'+
        '</div>' +
    '</div>';
{% endraw %}

{% raw %}
var noResultsTemplate = 'No results found matching <strong>{{query}}</strong>.';
{% endraw %}

search.addWidget(
    instantsearch.widgets.hits({
        container: '#hits',
        templates: {
            empty: noResultsTemplate,
            item: hitTemplate
        },
        cssClasses: {
            root: ['doc-hits','search-results'],
            empty: 'empty-hits',
            item: 'doc-hits-hit'
        }
    })
);

var container = document.querySelector('#pagination');
var paginationWidget = instantsearch.widgets.pagination({
    container: '#pagination',
    cssClasses: {
        root: ['pagination', 'search-results'],
        active: 'active'
    }
});
var oldRender = paginationWidget.render;
paginationWidget.render = function(params) {
    var currentState = params.results;
    if(currentState.nbPages===0) container.style.display='none';
    else container.style.display = 'block';
    oldRender.apply(this, arguments);
};
search.addWidget(paginationWidget);

search.start();

$('.ais-search-box--reset').click(function() {
    $('.ais-search-box--input').val('');
});

</script>