<!--Side navigation panel-->
<div id="side_accordion" class="pm-accordion col-md-4 col-md-offset-1 hidden-sm hidden-xs">
    <div class="doc-search">
        <div id="search-box"></div>
        <div id="stats" style="display:none;"></div>
        <div class="doc-hits-wrapper search-results accordion-search">
            <div id="hits"></div>
            <div id="pagination"></div>
        </div>
    </div>

    <div class="pm-accordion-links" id="productAccordion">
        {% assign pageurl = page.url | split: '/' %}
        {% assign product_prefix = pageurl[1] %}
        {% assign category_prefix = pageurl[2] %}

        {% for product in site.data.doc_map %}
        {% assign product_index = forloop.index0 %}

        <div class="pm-accordion-product">
            <a href="#collapse-product-{{product_index}}" class="product-title {% unless product_prefix == product.url_prefix %}collapsed{% endunless %}" data-toggle="collapse">
                {{product.title}}
            </a>

            <ul id="collapse-product-{{product_index}}" class="category-links collapse {% if product_prefix == product.url_prefix %}in{% endif %}">
                {% for category in product.children %}
                {% assign category_index = forloop.index0 %}

                {% if category.href.size > 0 %}
                    {% assign categoryHrefTrim = category.href | remove_first:'/docs' %}

                <li>
                    <a href="{{category.href}}"
                       {% if category.external  == true %}target="_blank"{% endif %}
                       {% if page.url == categoryHrefTrim %}class="active"{% endif %}
                    >
                        {{category.title}}
                    </a>
                </li>
                {% else %}
                <li>
                    <div class="pm-accordion-category">
                        <a href="#collapse-category-{{product_index}}-{{category_index}}" class="category-title {% unless category_prefix == category.url_prefix and product_prefix == product.url_prefix %}collapsed{% endunless %}" data-toggle="collapse">
                            {{category.title}}
                        </a>

                        <ul id="collapse-category-{{product_index}}-{{category_index}}" class="feature-links collapse {% if category_prefix == category.url_prefix and product_prefix == product.url_prefix %}in{% endif %}">
                            {% for feature in category.children %}
                            {% assign feature_index = forloop.index0 %}
                            {% if feature.href %}
                                {% assign featureHrefTrim = feature.href | remove_first:'/docs' %}
                            <li>
                                <a href="{{feature.href}}"
                                   {% if feature.external == true %}target="_blank"{% endif %}
                                   {% if page.url == featureHrefTrim %}class="active"{% endif %}
                                >
                                    {{feature.title}}
                                </a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>