<!--<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>-->

<script>

'use strict';
/* global instantsearch */

var search = instantsearch({
    appId: 'SDZ6C0ROMM',
    apiKey: 'e83c353e0b538a05ad8ea1d70c32b0dd',
    indexName: 'blog',
    urlSync: true
});

search.addWidget(
    instantsearch.widgets.searchBox({
        container: '#search-box-1',
        placeholder: 'Docsz?'
    })
);

var hitTemplate =
    '<div class="hit col-sm-3">' +
    '<div class="infos">' +
    '<h4 class="media-heading"></h4>' +
    '<h4 class="media-heading">{{url}}</h4>' +
    '<p>{{title}}</p>' +
    '<strong>Hit {{objectID}}</strong>: ' +
    '</div>' +
    '</div>';

var noResultsTemplate = data => {return '<div class="text-center">No results found matching <strong>{{query}}</strong>.</div>'};

search.addWidget(
    instantsearch.widgets.hits({
        container: '#hits-1',
        hitsPerPage: 12,
        templates: {
            empty: noResultsTemplate(),
            item: '<strong>Hit {{objectID}}</strong>: {{{_highlightResult.name.value}}}'
//            item: '<strong>Hit {{objectID}}</strong>: {{{_highlightResult.name.value}}}'
        }
    })
);

search.start();

//    var client = algoliasearch('SDZ6C0ROMM', 'e83c353e0b538a05ad8ea1d70c32b0dd')
//    var index = client.initIndex('blog');
//    autocomplete('#search-input', { hint: false }, [
//        {
//            source: autocomplete.sources.hits(index, { hitsPerPage: 5 }),
//            displayKey: 'my_attribute',
//            templates: {
//                suggestion: function(suggestion) {
//                    return suggestion._highlightResult.my_attribute.value;
//                }
//            }
//        }
//    ]).on('autocomplete:selected', function(event, suggestion, dataset) {
//        console.log(suggestion, dataset);
//    });

//var search = instantsearch({
//    appId: 'SDZ6C0ROMM',
//    apiKey: 'e83c353e0b538a05ad8ea1d70c32b0dd',
//    indexName: 'blog',
//    urlSync: true
//});
//
//search.addWidget(
//    instantsearch.widgets.searchBox({
//        container: '#search-box-1',
//        placeholder: 'Search docsz',
//        cssClasses: {
//            input: ['st-default-search-input', 'pm-form-control', 'pm-white-control']
//        }
//    })
//);
//
//var hitTemplate =
//    '<div class="hit docs">' +
//        '<div class="docs-body">' +
//            '<p class="url">{{url}}</p>' +
//            '<p class="url">{{objectID}}</p>' +
//            '<p class="url">{{text}}</p>' +
//            '<h4 class="docs-title">Title: {{title}}' +
//            '<a href="{{url}}"><p class="docs-text">{{{_highlightResult.title.value}}}</p></a>' +
//        '</div>' +
//    '</div>';
//
//search.addWidget(
//    instantsearch.widgets.hits({
//        container: '#hits-1',
//        hitsPerPage: 10,
//        templates: {
//            empty: 'No results',
//            item: hitTemplate
//        }
//    })
//);
//
//search.start();

//    var client = algoliasearch("SDZ6C0ROMM", "e83c353e0b538a05ad8ea1d70c32b0dd");
//    var index = client.initIndex('blog');
//
//    var queryString = document.getElementById('search-input');
//
//    index.search(queryString, function searchDone(err, content) {
//        if (err) {
//            console.error(err);
//            return;
//        }
//
//        for (var h in content.hits) {
//            console.log('Hit(' + content.hits[h].objectID + '): ' + content.hits[h].toString());
//        }
//    });

</script>