<!--<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>-->
<script>

'use strict';

const search = instantsearch({
    appId: 'SDZ6C0ROMM',
    apiKey: 'e83c353e0b538a05ad8ea1d70c32b0dd',
    indexName: 'blog',
    urlSync: true
});

search.addWidget(
    instantsearch.widgets.searchBox({
        container: '#search-box-1',
        placeholder: 'Search documentation'
    })
);

search.addWidget(
    instantsearch.widgets.hits({
        container: '#hits-1',
        hitsPerPage: 12,
        templates: {
            empty: {% raw %}'No results found matching <strong>{{query}}</strong>.'{% endraw %},
            item: {% raw %}
                '<div class="infos">' +
                '<h4 class="media-heading">{{title}}</h4>' +
                '<a href="{{url}}">' +
                '<p>{{{_highlightResult.title.value}}}</p>' +
                '</a>' +
                '</div>' {% endraw %}
        }
    })
);

search.start();


//var hitTemplate =
//    '<div class="hit docs">' +
//        '<div class="docs-body">' +
//            '<p class="url">{{url}}</p>' +
//            '<p class="url">{{objectID}}</p>' +
//            '<p class="url">{{text}}</p>' +
//            '<h4 class="docs-title">Title: {{title}}' +
//            '<a href="{{url}}"><p class="docs-text">{{{_highlightResult.title.value}}}</p></a>' +
//        '</div>' +
//    '</div>';



</script>