@import '../Shared/_variables.scss';
.breadcrumb-wrapper {
    & a:link,
    a:visited,
    span {
        color: $grey_50;
        transition: all 0.2s ease-in-out;
        border-bottom: 1px transparent;
    }
    & a:hover,
    a:active {
        transition: all 0.2s ease-in-out;
        text-decoration: none;
        color: $blue_60;
        border-bottom: 1px solid;
    }
}