@import '../Shared/_variables.scss';

.navbar-v6 {
  background-color: rgba(255, 255, 255, 0.84);
  backdrop-filter: blur(4px);
  padding: 8px 16px;
  border-bottom: 1px solid #eee;

  @media (max-width: 991px) {
    .navbar-collapse {
      padding: 16px 0;
    }
  }

  & .contextual-home-link {
    color: $grey_90;
    font-family: 'Inter, system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Oxygen,Ubuntu,Cantarell,'Fira Sans','Droid Sans',Helvetica,Arial,sans-serif;';
    font-size: 16px;
    
    letter-spacing: -0.24px;
    line-height: 1.4;
    font-weight: 600;
    padding-left: 0;
  }

  & .navbar-nav {
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }

    & .nav-item {
        margin-bottom: 0px;
    }

    & .nav-link:link,
    .nav-link:active {
      font-weight: 600;
      // font-size: 1.4rem;
      font-size: 14px;
      padding: 6px 16px;

      &.uber-nav {
        // padding: 4px 16px;
        font-size: 14px;
      }
    }

    & .dropdown-menu {
      // font-size: 1.4rem;
      font-size: 14px;
      line-height: 20px;
      padding: 8px 16px;
      @media screen and (min-width: 992px) {
        padding: 16px;
      }
    }

    & .dropdown-item {
      padding: 8px 16px;
      & small {
        display: block;
        color: $grey_70;
      }
      &.app-cta {
        color: $blue_60;
        font-weight: 600;
      }
    }

    &.property-context-menu {
      & .nav-link:link,
      .nav-link:active {
        font-weight: 400;
      }
    }
  }

  & .dropdown-menu {
    background-color: $white;
    border: none;
    padding: 0 0 16px 24px;
    @media screen and (min-width: 992px) {
      box-shadow: 0 16PX 24px -8PX rgba(0, 0, 0 , 0.24);
      background-color: $white;
      border-radius: 3px;
      border: 1px solid $grey_20;
      padding: 16px;
    }
  }

  & .navbar-brand {
    margin-right: 2rem;
    padding: 0px;

    img {
      margin-bottom: 0px;
    }
  }

  & .dropdown-col-menu {
    width: 100%;
    @media screen and (min-width: 992px) {
      width: 40rem;
    }
  }

  & .dropdown-col {
    @media screen and (max-width: 991px) {
      margin-bottom: 2rem;
    }
  }

  & .dropdown-header {
    color: #5b5b5b;
    // font-size: 1.6rem;
    font-size: 16px;
    padding: 8px 16px;
    font-family: 'Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif';
    letter-spacing: -0.24px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 8px;
  }

  & input[type='search'] {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    font-size: 13px;
    padding: 4px 24px 4px 28px;
    height: 32px;
    margin: 0;
    width: 240px;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $grey_40;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $grey_40;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $grey_40;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $grey_40;
    }
  }
  & label {
    position: absolute;
    margin-left: 8px;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 991px) {
      position: absolute;
      margin-left: 8px;
      top: auto;
      transform: translate(0%);
    }
  };
} // end NavbarV6 styling

// www this is DownloadButton
.button__sign-up {
    align-items: center; 
    appearance: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-flex;
    // font-size: 1.4rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.75;
    padding: 4px 12px;
    user-select: none;
    color: $white;
    background-color: $orange_50;
    text-align: center;
    // margin: '0 16px 0 0';
    transition: background-color 50ms ease-in-out, border-color 50ms ease-in-out;

    &:hover,
    &:active {
      background-color: $orange_60;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }

    @media (max-width: 480px) {
      display: block;
    }
};

// www this is DashboardButton
a.button__sign-in {
  align-items: center;
  appearance: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-flex;
  // font-size: 1.4rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.75;
  padding: 4px 12px;
  user-select: none;
  color: $grey_90;
  background-color: $white;
  background-image: none;
  border: none;
  // border: 1px solid #A6A6A6 !important;
  box-shadow: 0 0 1px rgba(0, 0, 0, 1.0) inset !important;

  outline: 0;
  text-align: center;
  margin: 0 8px 0 0;

  &:hover,
  &:active {
    background-color: $white;
    box-shadow: inset 0 0 1px rgba(0, 0, 0 , 0.64);
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }

  // MobileSignInButton = styled(DashboardButton)
  @media screen and (max-width: 1200px) {
    display: none;

    &.show {
      display: block;
    }

    &.hide {
      display: none;
    }
  }
}

// Algolia Search Styling
// the result styling is in _search.scss
.searchbox {
  // styled above in input[type=search]
  // input {
    // background-color:#f5f5f5;
    // border: 0;
    // padding: 13px 24px;
    // border-radius: 3px;
    // width: 100%;
  // }
  ::placeholder {
    color: #1c272b;
    // font-size: 14px;
    // font-weight: 600;
  }
  .ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
  }
}

.ais-Pagination-list {
  list-style: none;
  display: flex;
  flex-direction: row; 
  a {
    color: $gray-2;
    &:hover {
      color: $postman-orange;
    }
  }
  
  .ais-Pagination-link--selected {
    color: $postman-orange;
  }
}
