@import '../Shared/_variables.scss';

.header {
  box-shadow: 0 5px 16px 0 rgba(0,0,0,.11);
  .header__logo {
    margin: auto;
    height: 50px;
    @media (max-width: 414px) {
      height: auto;
    }
  }

  .header__title {
    vertical-align: middle;
    margin-left: 20px;
    color: $gray-3;
    text-decoration: none;
    @media (max-width: 414px) {
      margin-left: 8px;
    }
  }

  .header__right-links {
    .nav-item {
      .nav-link {
        text-decoration: none;
        color: $gray-3;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        white-space: nowrap;
        padding: 16px;
      }
      .nav-link:hover {
        color: $postman-orange;
      }
      .btn {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 1200px) {
    .animate-close {
      animation-fill-mode: forwards;
      overflow: hidden;
      animation-name: closeMenu;
      animation-duration: 0.5s;  
    }
    .closed {
      overflow: hidden;
      max-height: 0px;
    }
  }
  .animate-open {
    overflow: hidden;
    animation-name: openMenu;
    animation-duration: 0.5s;  
  } 
}

@keyframes openMenu {
  0%   {max-height: 0px;}
  100% {max-height: 300px;}
}

@keyframes closeMenu {
  0%   {max-height: 300px;}
  100% {max-height: 0px;}
}


.searchbox {
  input {
    background-color:#f5f5f5;
    border: 0;
    padding: 13px 24px;
    border-radius: 3px;
    width: 100%;
  }
  ::placeholder {
    color: #1c272b;
    font-size: 14px;
    font-weight: 600;
  }
  .ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
  }
}
.browse {
  background-color: $gray-1;
  border: none;
  // margin: 8px 16px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  color: $gray-2;
}

.ReactModal__Content.ReactModal__Content--after-open {
  top: 0px !important;
  right: 0px !important;
  left: 0px !important;
  bottom: 400px !important;
  padding: 40px 20px !important;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.11);
  border: none;
  animation: fadein 2s !important;
  position: initial !important;

  .trending {
   margin-top: 56px;
    p {
      font-weight: 700;
      font-size: 16px;
      color: $gray-2;
    }
    ul {
      margin-left: 0;
    }
    li {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 14px;
      letter-spacing: .3px; 
      font-weight: 400;
      line-height: 1.7;
      a {
        text-decoration: none;
        color: $gray-2;
        display: block;
        padding: 4px 0;
        &:hover {
          color: $postman-orange
        }
      }
    }
  }
  input {
    border: none;
    border-bottom: 1px solid rgba(102, 102, 102, .5);  
    color: $gray-2;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.3;
  }
  button:focus, input:focus{
    outline: none !important;
  }

  button {
    border: none;
    border-bottom: none; 
    padding: 12.5px; 
    font-weight: 600;
    font-size: .6875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $gray-2;  
  }
}

