@import './Shared/_variables.scss';

// Footer has font Open Sans
* {
  font-family: 'Roboto';
}

.layout-wrapper {
  padding: 0px;
  overflow-x: hidden;
}

h1 {
  font-size: 48px !important;
  line-height: 1.2083333333 !important;
}

h2 {
  font-size: 38px !important;
  line-height: 1.2631578947 !important;
}

h3 {
  font-size: 30px !important;
  line-height: 1.2666666667 !important;
}

p {
  a {
    color: $postman-orange;
  }
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}

// Cookie Consent
.CookieWrapper {
  width: 550px;
  height: 180px;
  position: fixed;
  margin: 0 0 40px 40px;
  bottom: 0;
  left: 0;

  @media (max-width: 991px) {
    /* margin:0 40px 40px 40px; */
    /* margin: 0 auto; */
    text-align:center;
    display:flex;
    justify-content:center;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 40px;
  }
}

