@import './Shared/_variables.scss';
@import '../../styles/config/normalize.css';
@import '../../styles/config/typography.css';

@-moz-document url-prefix() {
  html {
    -moz-osx-font-smoothing: grayscale;
  }
}

body {
  font-family: $inter;
  color: $grey_90;
  font-feature-settings: "ss01", "onum", "zero";
  font-weight: 400;
  text-rendering: geometricPrecision;
  letter-spacing: -0.16px;
}
/** * Firefox specific rule */
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}

code {
  font-family: $ibm;
}

.layout-wrapper {
  padding: 0px;
  // do not use overflow hidden - it will mess up the docs Postmanaut icon with sticky property
  // overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $degular;
  font-weight: 600;
  font-feature-settings: 'kern' 1, 'ss01' 1, 'salt' 1;
}
/** * Firefox specific rule */
@-moz-document url-prefix() {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3 {
    font-weight: lighter !important;
  }
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $inter;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.64px;
  margin: 0 0 24px 0;

  @media (max-width: 576px) {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 16px 0;
  }
}

h2,
.h2 {
  font-size: 36px;
  letter-spacing: 0.48px;
  line-height: 1.1666666667;
  margin: 0 0 16px 0;

  @media (max-width: 576px) {
    font-size: 28px;
    line-height: 1.1428571429;
  }
}

h3,
.h3 {
  font-size: 28px;
  letter-spacing: 0.64px;
  line-height: 1.1428571429;
  margin: 0 0 16px 0;

  @media (max-width: 576px) {
    font-size: 24px;
    letter-spacing: -0.64px;
    line-height: 1.5;
  }
}
h4,
.h4 {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.32px;
  margin: 0 0 8px 0;
}

p {
  font-size: 16px;
  margin: 0 0 24px 0;
  line-height: 1.625;
}

.subtitle {
  font-size: 22px;
  letter-spacing: -0.36px;
  line-height: 32px;
  margin: 0 0 32px 0 !important;

  @media (max-width: 576px) {
    margin: 0 0 16px 0;
  }
}

strong, .bold {
  font-weight: 600;
}

// refresh 2021 layout changes
.container {
    padding-right: 24px;
    padding-left: 24px;
  @media screen and (max-width: 1199px) {
    max-width: 1199px !important; /* v5 was 1440px; v6 is 1199px */
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1224px !important; /* v5 was 1440px; v6 is 1224px */
    width: 100%;
  }
}

.row {
  margin-right: -12px;
  margin-left: -12px;

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  padding-right: 12px;
  padding-left: 12px;
}

div.col-sm-7.doc-page {
  padding: 64px 72px;
}

// Cookie Consent
.CookieWrapper {
  width: 550px;
  position: fixed;
  margin: 0 0 40px 40px;
  bottom: 0;
  left: 0;

  @media (max-width: 991px) {
    text-align:center;
    display:flex;
    justify-content:center;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 40px;
  }
}

// Hello Bar styling
.hellobar__container {
  background-color: #DBE9F2;
  min-height: 44px;
}

.hellobar__text { 
  min-height: 100%;
  margin: 0px;
  text-align: center;
  padding: 10px;
  color: #282828;
  font-weight: 600;
}

.hellobar__close-button {
  position: absolute;
  right: 20px;
  top: 8px;
  background-repeat: no-repeat;
  cursor: pointer; 
  -webkit-appearance: none !important;
  
}

.hellobar__postman-link {
  height: 24px;
  font-weight: 600;
  color: #282828;
  background-image: linear-gradient(180deg, transparent 50%, rgba(249,157,120,.5) 0);
  padding-right: 4px;
  padding-bottom: 2px;
  background-position-y: 2px;
  background-position-x: 4px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: .18s ease;

  &:hover {
    background-position: top 7px right -4px;
    padding-right: 4px;
    color: #282828;
    padding-bottom: 2px;
    text-decoration: none;
    background-image: linear-gradient(180deg, transparent 60%, rgba(249, 157, 120, 1) 0);
  }
}
.section {
  padding: 40px 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    padding: 80px 0;
  }
}

/* Padding below embed videos */
.gatsby-resp-iframe-wrapper {
  margin-bottom: 24px;
}