.hero {
  background-color: #eaf2f8;
  padding: 80px;
  margin-bottom: 80px;
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1666666667;
    text-rendering: optimizeLegibility;
    letter-spacing: .8px;
  }
}
