@import '../Shared/_variables.scss';


.searchbox {
  width: 100%;
  margin-bottom: 24px;
  input {
    // background-color:#f5f5f5;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid rgba(102, 102, 102, .5);  
    padding: 13px 24px 13px 0;
    border-radius: 3px;
    width: 100%;
    font-size: 36px;
    color: #02739D;
    &:hover {
      background-color: rgb(219, 233, 242);
      cursor: text;
    }
  }
  ::placeholder {
    color: #1c272b;
    font-size: 14px;
    font-weight: 600;
  }
  .ais-SearchBox-submit, .ais-SearchBox-reset {
    display: none;
  }
}

.search-input {
  border: 0;
  padding: 13px 24px;
  border-radius: 3px;
  background-color: rgba(28, 39, 43, 0.05);
  font-size: 14px;
  font-weight: 600;
  width: 500px;
}

ais-highlight-0000000000 {
  color: #02739D;
  background-color: $light-blue;
}

.input-empty {
  display: none;
}

.wrapper-search-results {
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 3;
  background-color: white;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  padding: 24px 9px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: -24px;
  @media (max-width: 1200px) {
    margin-top: -13px;
  }
  
  display: flex;
  text-align: left;
  max-width: 600px;
  top: 90px;
  @media (max-width: 1200px) {
    top:136px;
  }
  ul {
    margin-left: 0;
  }
}

.results-blog {
  & ul {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 16px;
  }
}
.results-www {
  & ul {
    border-bottom: 1px solid #d9d9d9;
    @media (min-width: 768px) {
      border-bottom: none;
    }
    padding-bottom: 16px;
  }
}
.results-lc,
.results-blog,
.results-www {
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: manual;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.style {
  list-style: none;
  padding-top: 20px;
  margin-left: 0;
  a {
    color: #757575;
  }
  a:hover {
    color: #fe6c37;
    text-decoration: none;
  }
}

.search-title {
  font-weight: 700;
}

.ais-SearchBox-form {
    margin-bottom: 0px;
    flex-grow: 2;
  }

.ais-SearchBox-submit {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.ais-SearchBox-reset {
  width: 0.1px;
  height: 0.1px;
  font-size: 0.001px;
}

.header__brand {
  min-width: 330px;

  @media (max-width: 411px) {
    min-width: 0px;
  }
}

.header__search {
  width: 100%;
  padding: 0 16px;
  .ais-InstantSearch__root {
    width: 100%;
  }
}

