.modal-link {
  cursor: pointer;
}
.modal {
  z-index: 214748;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999; /* Sit on top */
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height*/

  &.show {
    cursor: pointer;
  }

  .modal-dialog {
    position: relative;
    top: 15%;

    .modal-content {
      justify-content: center;
      .modal-positioning {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
      }

      img {
        cursor: default;
      }

      & .modal-close-button {
        display: flex;
        justify-content: end;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: flex-end;
        -ms-flex-pack: flex-end;
        justify-content: flex-end;
      }

      & .close {
        line-height: 1.8;
        opacity: 1;
        color: #ffffff;
        font-weight: 400;
        text-shadow: none;
        margin-bottom: 12px;
        pointer-events: all;
        border: 0;
        background: rgba(0, 0, 0, 0);
        &:focus {
          outline: none;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
          opacity: 1;
          transition: all 0.2s ease-in-out 0s;
        }
        & .close-icon {
          font-size: 24px;
        }

        & .close-label {
          font-size: 0.75rem !important;
          margin-right: 0.25rem;
          vertical-align: middle;
        }
      }
    }
  }
}
