/* Modal for Images */

/* Link Wrapper to activate modal */
.modal-link {
  cursor: pointer;
}

/* Modal Wrapper */
.modal {
  z-index: 214748;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999; /* Sit on top */
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  
  .modal-dialog {
    cursor: pointer;

    .modal-content {
      justify-content: center;

    img {
      cursor: pointer;
    }

    & .modal-close-button {
      display: flex;
      justify-content: end;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
    }

    & .close {
      line-height: 1.9;
      opacity: 1;
      color: #ffffff;
      font-weight: 400;
      text-shadow: none;
      margin-bottom:12px;
      pointer-events: all;
      &:hover {
        color: #ff6b37;
      }
      & .close-icon {
        font-size: 24px;
      }

        & .close-label {
          font-size: 0.75rem !important;
          margin-right: 0.25rem;
          vertical-align: middle;
        }
      }
    }
  }
}