@import '../Shared/_variables.scss';

.contextual-links {

  .contextual-links__section {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: $grey_80;
  }
  .contextual-links__link {
    margin-bottom: 0;
    padding: 4px 0;
    display: block;
    
    a {
      color: $grey_50;
      font-size: 14px;
      text-decoration: none;
      border-bottom: 1px solid #FFFFFF;
      transition: all 0.2s ease-in-out;
    }
    
    &:hover {
      a {
        color: $blue_60;
        border-bottom: 1px solid $blue_60;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .contextual-links__subtitle {
    color: $grey-60;
    font-size: 15px;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: .7rem;
  }

  .contextual-links__alert {
    border: 4px dashed #CCE5FF;
    border-radius: $borderRadiusSmall;
    padding: .75rem 1.25rem;
    color: #0C5460;
  }

  // tablet view
  @media (min-width: 767px) and (max-width: 990px) {
      padding-bottom: 80px;
  }


  // mobile view
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}