@import '../Shared/_variables.scss';

.contextual-links {

  margin: 80px 0;
  border-top: 5px solid $postman-orange;
  
  .contextual-links__section {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
  .contextual-links__link {
    margin-bottom: 16px;
  }

  .contextual-links__subtitle {
    color: $gray-2;
    font-size: 14px;
  }

  a {
    color: $postman-orange;
    font-size: 14px;
    text-decoration: none;
  }

}

